*{
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;   
}

header {
    display: flex; /* "habilita os elementos a mudarem de lugar*/
    justify-content: center; /*alinha o elemento no centro*/
    height: 120px;
}


.container {

    display: flex;
    justify-content: space-between; /* deixa cada conteudo em lados opostos */
    width: 990px;
    height: 100px;
    
}
.logo { 
    
    
    display: flex;
    align-items: center; /* alinha os elementos no centro no sentido vertical */

}
