*{
    box-sizing: border-box;
}

body{
    margin: 0px;
}

h1 {
    font-family: 'Indie Flower';
}

label {
    display: block; /*deixa um item abaixo do outro*/
    margin-bottom: 20px; /* deixa um espaçamento entre os itens*/
}

input[type=text] {  /* para selecionar o input do tipo text, não funciona para todos os tipos de input*/
    padding: 10px;
    width: 500px;
}