/* o valor inherit = force uma herança
pode se herdar cor, font  */

body {
    margin: 0;
}
.box {
    font-size: 50px;
}
h1 {
    font-size: 30px;
}


/* h1 herdando a fonte do box */
.box h1{
    font-size: inherit; 
}