*{
    box-sizing: border-box;
   
}



img {
    border-radius: 15px;
}

figure { 
    margin: 0px;
    padding: 5px;
    border: 1px solid gray;
  
}

figcaption {
    background-color: black;
    color: white;
    text-align: center;
    padding: 2px;
}


