* {
    box-sizing: border-box;
    background-color: #bbbb;
}

body {
    margin: 50px;
    font-size: 17px;
}

p {
    color: #0000FF; /*cor da fonte*/
    font-size: 20px; /* tamanho da fonte*/
    font-weight: bold; /*estilo da fonte*/
    font-family:'Lucida Sans', 'Lucida Sans Regular'; /*tipo da fonte*/
    text-align: center; /*alinha o texto verticalmente dentro do elemento*/

}

a {
    text-decoration: none;  /*tira a decoralção do texto, no caso o underline */
}
