* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

p{
    font-size: 10px;
    font-family: 'Chilanka'; /*quando é uma fonte importada se usa 'aspas'*/
}

h1{
    font-family: 'Indie Flower';
}