@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #202124;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    margin-left: 80px;
}

header {
    width: 100%;
    height: 130px;
    border-bottom: 1px solid #3c4043;
    display: flex;

}


.container .header-superior {
    width: 100vw;
    flex: 1;
    display: flex;
    margin-top: 25px;
    justify-content: space-between;
}

.container .header-inferior {
    width: 100%;
    flex: 1;

}

.superior-esquerda {
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;



}

a {
    text-decoration: none;
    font-size: 30px;
    color: white;
    margin-right: 30px;
}

.campo-input {
    width: 500px;
    height: 40px;
    background-color: #303134;
    border-radius: 15px;
    padding: 10px;
    padding-left: 15px;
    display: flex;
    gap: 10px;
}

.campo-input input {
    width: 70%;
    background-color: #303134;
    border: none;
}

.superior-direita {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-right: 120px;
}

.superior-direita img {
    height: 25px;
    width: 25px;

}

#foto-usuario {
    height: 36px;
    width: 36px;
    border-radius: 18px;
}

.header-inferior{
    
    display: flex;

}

.inferior-esquerda{
    display: flex;
    gap: 10px;
    margin: 15px;
    width: 55%;
    margin-right: 20px;
}

.inferior-esquerda div{
    border: 1px solid #3c4043;
    border-radius: 15px;
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    cursor: pointer;
    background-color: #202124;
    padding: 10px;
    
    
}

.inferior-esquerda div:hover{
    background-color: #2c2c2c;
}

.inferior-direita{
    display: flex;
    align-items: center;
    color: #9a9ca2;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    gap: 15px;
   
}

.inferior-direita img {
    width: 8px;
    height: 8px;

}

#Ferramentas{
    margin-right: 25px;
}

.container span{
    color: #8aa0a6;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    margin-top: 15px;
    
}

.resultados-comum {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}
    


.resultados-comum img{
    height: 18px;
    width: 18px;
}

.resultados-comum div{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #e8eaed;
}
