fieldset{
    background-color: #EEE;
    margin-bottom: 20px;
    border: 2px solid rgb(100, 92, 92);
   
}

legend {
    background-color: rgb(100, 92, 92);
    color: white;
    padding: 5px;
    
}