.titulo {
    background-color: #d8bfd8;
    color: rgb(00, 00, 00);
   
}

#slogan {
    background-color:#B0E0E6 ;
    color: cadetblue;
    font-size: x-small;
}

p {
    background-color: #7c1d60;
    color: black;
    font-size: small;
    border: 20px solid blueviolet ; 
    border-radius: 5px;  

    /*na propriedade border 3 informações podem ser colocadas largura, tipo e cor */
}

span {
    border: 5px solid white;
    padding: 2px;
    margin: 2px;
    border-radius: 10px;
}

#bola{
    background-color: #B0E0E6;
    width: 400px;
    height: 400px;
    border-radius: 200px;
}
  