*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body{
    display: flex;
    justify-content: center;
    background-color:  rgb(103, 110, 150);
    font-family: sans-serif;
    color: aliceblue;
 

}

.container{
    margin: 10px;
    margin-top: 25px;
    background-color: rgb(158, 158, 238);
    width: 400px;
    height: 550px;
    border-radius: 10px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#titulo{
    font-family: sans-serif;
    color: black;
    margin-left: 7%;
    font-size: 18px;
   
}

#subtitulo{
    font-family: sans-serif;
    color: black;
    margin-left: 10%;
    font-size: 14px;
    
}

fieldset{
    border: 0px;
}

input, select, textarea, button {
    border-radius: 5px;
}

.campo {
    margin-bottom: 1em;
}

.campo label{
    color: black;
    margin-bottom: 0.2em;
    display: block;
}

