.box{
    font-size: 20px;
    background-color: #999;
    width: 50%; /* 50% do espaço disponivel que ele tem e nem sempre o da tela */
    height: 400px;
}
.box-interno {
    width: 50%;
    height: 50%;
    background-color: #333;
}

