body{
    margin: 0px;  /* retira o margin de toda a pagina */
}
.divexemplo{
    width: 500px;
    height: 50px;
    border:1px solid crimson;
  
    padding: 10px;
}
/* todo elemento tem pelo menos 4 propriedades 
conteudo
borda
padding = espaçamento interno do elemento, ou seja do conteudo até a borda 
e margin  = espaçamento  externo, da borda até o fim do elemento div,h1, h2 por exemplo  */