.titulo {
    background-color: #d8bfd8;
    color: rgb(00, 00, 00);
   
}

#s logan {
    background-color:#B0E0E6 ;
    color: cadetblue;
    font-size: x-small;
}

p {
    background-color: #7c1d60;
    color: black;
    font-size: small;
    border: 5px solid blueviolet ; 
    border-radius: 5px;  

    /*na propriedade border 3 informações podem ser colocadas largura, tipo e cor */
}