*{
   box-sizing: border-box;
}

body {
    
    margin: 0px;
}

h1{
    color: beige;
    font-family: Verdana;
}

p {
    font-size: 20px;
    font-family: fantasy;
    color:rgb(14, 12, 12);
    text-transform:none;  /*tranforma tudo e maiusculo, minusculo, espaçamentro entre letras etc..*/
    letter-spacing: 0px; /* espaçamentro entre letras etc..*/
    word-spacing: 0px; /* espaçamentro entre palavras etc..*/
    line-height: 0px; /* espaçamentro entre linhas etc..*/
    text-shadow: 1px 0px 10x rgb(243, 159, 32) ;
     /* text-shadow: cria sombra no texto, possui 4 propriedades obrigatorias, item um pra para direita, dois para baixo 
     o terceiro é o "esfumaçamento e quarto corcria sombra no texto */
 }